#navigation
  .container-fluid
    %a#brand{:href => "#"} A&C
    %a.toggle-nav{"data-placement" => "bottom", :href => "#", :rel => "tooltip", :title => "Toggle navigation"}
      %i.icon-reorder
    %ul.main-nav
      %li.active
        %a{:href => "index.html"}
          %span Dashboard
      %li
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %span Projects
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Create new project
          %li
            %a{:href => "#"} View open projects
          %li
            %a{:href => "#"} View completed projects
          %li
            %a{:href => "#"} View all projects
      %li
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %span Contacts
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Add new contact
          %li
            %a{:href => "#"} View all contacts
          %li
            %a{:href => "#"} Closest to me
          %li
            %a{:href => "#"} With recent activity
          %li
            %a{:href => "#"} Import or export contacts
      %li
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %span Invoices
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#"} View open
          %li
            %a{:href => "#"} View all
          %li
            %a{:href => "#"} View closed
          %li
            %a{:href => "#"} With recent activity
      %li
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %span Reports
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "plugins-charts.html"} Report A
          %li
            %a{:href => "plugins-calendar.html"} Report B
    .user
      %ul.icon-nav
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.icon-envelope-alt
            %span.label.label-lightred 4
          %ul.dropdown-menu.pull-right.message-ul
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "/assets/flat/demo/user-1.jpg"}/
              .details
                .name Jane Doe
                .message
                  Lorem ipsum Commodo quis nisi ...
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "/assets/flat/demo/user-2.jpg"}/
              .details
                .name John Doedoe
                .message
                  Ut ad laboris est anim ut ...
              .count
                %i.icon-comment
                %span 3
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "/assets/flat/demo/user-3.jpg"}/
              .details
                .name Bob Doe
                .message
                  Excepteur Duis magna dolor!
            %li
              %a.more-messages{:href => "components-messages.html"}
                Go to Message center
                %i.icon-arrow-right
        %li.dropdown.sett
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.icon-cog
          %ul.dropdown-menu.pull-right.theme-settings
            %li
              %span Layout-width
              .version-toggle
                %a.set-fixed{:href => "#"} Fixed
                %a.active.set-fluid{:href => "#"} Fluid
            %li
              %span Topbar
              .topbar-toggle
                %a.set-topbar-fixed{:href => "#"} Fixed
                %a.active.set-topbar-default{:href => "#"} Default
            %li
              %span Sidebar
              .sidebar-toggle
                %a.set-sidebar-fixed{:href => "#"} Fixed
                %a.active.set-sidebar-default{:href => "#"} Default
        %li.dropdown.colo
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.icon-tint
          %ul.dropdown-menu.pull-right.theme-colors
            %li.subtitle
              Predefined colors
            %li
              %span.red
              %span.orange
              %span.green
              %span.brown
              %span.blue
              %span.lime
              %span.teal
              %span.purple
              %span.pink
              %span.magenta
              %span.grey
              %span.darkblue
              %span.lightred
              %span.lightgrey
              %span.satblue
              %span.satgreen
        %li
          %a.lock-screen{"data-placement" => "bottom", :href => "more-locked.html", :rel => "tooltip", :title => "Lock screen"}
            %i.icon-lock
      .dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          John Doe
          %img{:alt => "", :src => "/assets/flat/demo/user-avatar.jpg"}/
        %ul.dropdown-menu.pull-right
          %li
            %a{:href => "more-userprofile.html"} Edit profile
          %li
            %a{:href => "#"} Account settings
          %li
            %a{:href => "more-login.html"} Sign out