.box.box-color.box-bordered
  .box-title
    %h3
      %i.icon-user>
      Address Book
    .actions
      %a.btn.btn-mini.content-refresh{:href => "#"}
        %i.icon-refresh
      %a.btn.btn-mini.content-remove{:href => "#"}
        %i.icon-remove
      %a.btn.btn-mini.content-slideUp{:href => "#"}
        %i.icon-angle-down
  .box-content.nopadding.scrollable{"data-height" => "300", "data-visible" => "true"}
    %table.table.table-user.table-nohead
      %tbody
        %tr.alpha
          %td.alpha-val
            %span B
          %td{:colspan => "2"}
        %tr
          %td.img
            %img{:alt => "", :src => "/assets/flat/demo/user-1.jpg"}/
          %td.user Bi Doe
          %td.icon
            %a.btn{:href => "#"}
              %i.icon-search
        %tr
          %td.img
            %img{:alt => "", :src => "/assets/flat/demo/user-2.jpg"}/
          %td.user Boo Doe
          %td.icon
            %a.btn{:href => "#"}
              %i.icon-search
        %tr.alpha
          %td.alpha-val
            %span D
          %td{:colspan => "3"}
        %tr
          %td.img
            %img{:alt => "", :src => "/assets/flat/demo/user-3.jpg"}/
          %td.user Dan Doe
          %td.icon
            %a.btn{:href => "#"}
              %i.icon-search
        %tr
          %td.img
            %img{:alt => "", :src => "/assets/flat/demo/user-4.jpg"}/
          %td.user Dane Doe
          %td.icon
            %a.btn{:href => "#"}
              %i.icon-search
        %tr.alpha
          %td.alpha-val
            %span H
          %td{:colspan => "3"}
        %tr
          %td.img
            %img{:alt => "", :src => "/assets/flat/demo/user-3.jpg"}/
          %td.user Hilda N. Ervin
          %td.icon
            %a.btn{:href => "#"}
              %i.icon-search
        %tr.alpha
          %td.alpha-val
            %span J
          %td{:colspan => "3"}
        %tr
          %td.img
            %img{:alt => "", :src => "/assets/flat/demo/user-5.jpg"}/
          %td.user John Doe
          %td.icon
            %a.btn{:href => "#"}
              %i.icon-search
        %tr
          %td.img
            %img{:alt => "", :src => "/assets/flat/demo/user-6.jpg"}/
          %td.user John Doe
          %td.icon
            %a.btn{:href => "#"}
              %i.icon-search
        %tr.alpha
          %td.alpha-val
            %span L
          %td{:colspan => "3"}
        %tr
          %td.img
            %img{:alt => "", :src => "/assets/flat/demo/user-5.jpg"}/
          %td.user Laura J. Brown
          %td.icon
            %a.btn{:href => "#"}
              %i.icon-search
        %tr
          %td.img
            %img{:alt => "", :src => "/assets/flat/demo/user-6.jpg"}/
          %td.user Lilly J. Tooley
          %td.icon
            %a.btn{:href => "#"}
              %i.icon-search
        %tr.alpha
          %td.alpha-val
            %span M
          %td{:colspan => "3"}
        %tr
          %td.img
            %img{:alt => "", :src => "/assets/flat/demo/user-1.jpg"}/
          %td.user Maxi Doe
          %td.icon
            %a.btn{:href => "#"}
              %i.icon-search
        %tr
          %td.img
            %img{:alt => "", :src => "/assets/flat/demo/user-2.jpg"}/
          %td.user Max Doe
          %td.icon
            %a.btn{:href => "#"}
              %i.icon-search
        %tr.alpha
          %td.alpha-val
            %span O
          %td{:colspan => "3"}
        %tr
          %td.img
            %img{:alt => "", :src => "/assets/flat/demo/user-1.jpg"}/
          %td.user Oxx Doe
          %td.icon
            %a.btn{:href => "#"}
              %i.icon-search
        %tr
          %td.img
            %img{:alt => "", :src => "/assets/flat/demo/user-2.jpg"}/
          %td.user Osam Doe
          %td.icon
            %a.btn{:href => "#"}
              %i.icon-search
        %tr.alpha
          %td.alpha-val
            %span P
          %td{:colspan => "3"}
        %tr
          %td.img
            %img{:alt => "", :src => "/assets/flat/demo/user-1.jpg"}/
          %td.user Petra Doe
          %td.icon
            %a.btn{:href => "#"}
              %i.icon-search
        %tr
          %td.img
            %img{:alt => "", :src => "/assets/flat/demo/user-2.jpg"}/
          %td.user Per Doe
          %td.icon
            %a.btn{:href => "#"}
              %i.icon-search