.box.box-color.box-bordered.lightgrey
  .box-title
    %h3
      %i.icon-ok
      Projects
    .actions
      %a.btn{"data-toggle" => "modal", :href => "#new-task"}
        %i.icon-plus-sign
        Start New Project
  .box-content.nopadding
    %ul.tasklist
      %li.bookmarked
        .check
          %input.icheck-me{"data-color" => "blue", "data-skin" => "square", :type => "checkbox"}/
        %span.task
          %i.icon-wrench
          %span Order parts for Jane Doe Mantel Clock
        %span.task-actions
          %a.task-delete{:href => "#", :rel => "tooltip", :title => "Delete that task"}
            %i.icon-remove
          %a.task-bookmark{:href => "#", :rel => "tooltip", :title => "Mark as important"}
            %i.icon-bookmark-empty
      %li.bookmarked
        .check
          %input.icheck-me{"data-color" => "blue", "data-skin" => "square", :type => "checkbox"}/
        %span.task
          %i.icon-wrench
          %span Order parts for John Doe Grandfather Clock
        %span.task-actions
          %a.task-delete{:href => "#", :rel => "tooltip", :title => "Delete that task"}
            %i.icon-remove
          %a.task-bookmark{:href => "#", :rel => "tooltip", :title => "Mark as important"}
            %i.icon-bookmark-empty
      %li
        .check
          %input.icheck-me{"data-color" => "blue", "data-skin" => "square", :type => "checkbox"}/
        %span.task
          %i.icon-road
          %span Deliver clock to Bob Doe
        %span.task-actions
          %a.task-delete{:href => "#", :rel => "tooltip", :title => "Delete that task"}
            %i.icon-remove
          %a.task-bookmark{:href => "#", :rel => "tooltip", :title => "Mark as important"}
            %i.icon-bookmark-empty
      %li
        .check
          %input.icheck-me{"data-color" => "blue", "data-skin" => "square", :type => "checkbox"}/
        %span.task
          %i.icon-stethoscope
          %span House call for Suzie Doe
        %span.task-actions
          %a.task-delete{:href => "#", :rel => "tooltip", :title => "Delete that task"}
            %i.icon-remove
          %a.task-bookmark{:href => "#", :rel => "tooltip", :title => "Mark as important"}
            %i.icon-bookmark-empty
      %li
        .check
          %input.icheck-me{"data-color" => "blue", "data-skin" => "square", :type => "checkbox"}/
        %span.task
          %i.icon-camera
          %span Add photo of Annie Doe's Mantel Clock
        %span.task-actions
          %a.task-delete{:href => "#", :rel => "tooltip", :title => "Delete that task"}
            %i.icon-remove
          %a.task-bookmark{:href => "#", :rel => "tooltip", :title => "Mark as important"}
            %i.icon-bookmark-empty
      %li
        .check
          %input.icheck-me{"data-color" => "blue", "data-skin" => "square", :type => "checkbox"}/
        %span.task
          %i.icon-stethoscope
          %span House call for Mark Doe
        %span.task-actions
          %a.task-delete{:href => "#", :rel => "tooltip", :title => "Delete that task"}
            %i.icon-remove
          %a.task-bookmark{:href => "#", :rel => "tooltip", :title => "Mark as important"}
            %i.icon-bookmark-empty