#new-task.modal.hide{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Add new task
  %form.new-task-form.form-horizontal.form-bordered{:action => "#"}
    .modal-body.nopadding
      .control-group
        %label.control-label{:for => "tasktitel"} Icon
        .controls
          %select#icons.select2-me.input-xlarge{:name => "icons"}
            %option{:value => "icon-adjust"} icon-adjust
            %option{:value => "icon-asterisk"} icon-asterisk
            %option{:value => "icon-ban-circle"} icon-ban-circle
            %option{:value => "icon-bar-chart"} icon-bar-chart
            %option{:value => "icon-barcode"} icon-barcode
            %option{:value => "icon-beaker"} icon-beaker
            %option{:value => "icon-beer"} icon-beer
            %option{:value => "icon-bell"} icon-bell
            %option{:value => "icon-bell-alt"} icon-bell-alt
            %option{:value => "icon-bolt"} icon-bolt
            %option{:value => "icon-book"} icon-book
            %option{:value => "icon-bookmark"} icon-bookmark
            %option{:value => "icon-bookmark-empty"} icon-bookmark-empty
            %option{:value => "icon-briefcase"} icon-briefcase
            %option{:value => "icon-bullhorn"} icon-bullhorn
            %option{:value => "icon-calendar"} icon-calendar
            %option{:value => "icon-camera"} icon-camera
            %option{:value => "icon-camera-retro"} icon-camera-retro
            %option{:value => "icon-certificate"} icon-certificate
            %option{:value => "icon-check"} icon-check
            %option{:value => "icon-check-empty"} icon-check-empty
            %option{:value => "icon-circle"} icon-circle
            %option{:value => "icon-circle-blank"} icon-circle-blank
            %option{:value => "icon-cloud"} icon-cloud
            %option{:value => "icon-cloud-download"} icon-cloud-download
            %option{:value => "icon-cloud-upload"} icon-cloud-upload
            %option{:value => "icon-coffee"} icon-coffee
            %option{:value => "icon-cog"} icon-cog
            %option{:value => "icon-cogs"} icon-cogs
            %option{:value => "icon-comment"} icon-comment
            %option{:value => "icon-comment-alt"} icon-comment-alt
            %option{:value => "icon-comments"} icon-comments
            %option{:value => "icon-comments-alt"} icon-comments-alt
            %option{:value => "icon-credit-card"} icon-credit-card
            %option{:value => "icon-dashboard"} icon-dashboard
            %option{:value => "icon-desktop"} icon-desktop
            %option{:value => "icon-download"} icon-download
            %option{:value => "icon-download-alt"} icon-download-alt
            %option{:value => "icon-edit"} icon-edit
            %option{:value => "icon-envelope"} icon-envelope
            %option{:value => "icon-envelope-alt"} icon-envelope-alt
            %option{:value => "icon-exchange"} icon-exchange
            %option{:value => "icon-exclamation-sign"} icon-exclamation-sign
            %option{:value => "icon-external-link"} icon-external-link
            %option{:value => "icon-eye-close"} icon-eye-close
            %option{:value => "icon-eye-open"} icon-eye-open
            %option{:value => "icon-facetime-video"} icon-facetime-video
            %option{:value => "icon-fighter-jet"} icon-fighter-jet
            %option{:value => "icon-film"} icon-film
            %option{:value => "icon-filter"} icon-filter
            %option{:value => "icon-fire"} icon-fire
            %option{:value => "icon-flag"} icon-flag
            %option{:value => "icon-folder-close"} icon-folder-close
            %option{:value => "icon-folder-open"} icon-folder-open
            %option{:value => "icon-folder-close-alt"} icon-folder-close-alt
            %option{:value => "icon-folder-open-alt"} icon-folder-open-alt
            %option{:value => "icon-food"} icon-food
            %option{:value => "icon-gift"} icon-gift
            %option{:value => "icon-glass"} icon-glass
            %option{:value => "icon-globe"} icon-globe
            %option{:value => "icon-group"} icon-group
            %option{:value => "icon-hdd"} icon-hdd
            %option{:value => "icon-headphones"} icon-headphones
            %option{:value => "icon-heart"} icon-heart
            %option{:value => "icon-heart-empty"} icon-heart-empty
            %option{:value => "icon-home"} icon-home
            %option{:value => "icon-inbox"} icon-inbox
            %option{:value => "icon-info-sign"} icon-info-sign
            %option{:value => "icon-key"} icon-key
            %option{:value => "icon-leaf"} icon-leaf
            %option{:value => "icon-laptop"} icon-laptop
            %option{:value => "icon-legal"} icon-legal
            %option{:value => "icon-lemon"} icon-lemon
            %option{:value => "icon-lightbulb"} icon-lightbulb
            %option{:value => "icon-lock"} icon-lock
            %option{:value => "icon-unlock"} icon-unlock
            %option{:value => "icon-magic"} icon-magic
            %option{:value => "icon-magnet"} icon-magnet
            %option{:value => "icon-map-marker"} icon-map-marker
            %option{:value => "icon-minus"} icon-minus
            %option{:value => "icon-minus-sign"} icon-minus-sign
            %option{:value => "icon-mobile-phone"} icon-mobile-phone
            %option{:value => "icon-money"} icon-money
            %option{:value => "icon-move"} icon-move
            %option{:value => "icon-music"} icon-music
            %option{:value => "icon-off"} icon-off
            %option{:value => "icon-ok"} icon-ok
            %option{:value => "icon-ok-circle"} icon-ok-circle
            %option{:value => "icon-ok-sign"} icon-ok-sign
            %option{:value => "icon-pencil"} icon-pencil
            %option{:value => "icon-picture"} icon-picture
            %option{:value => "icon-plane"} icon-plane
            %option{:value => "icon-plus"} icon-plus
            %option{:value => "icon-plus-sign"} icon-plus-sign
            %option{:value => "icon-print"} icon-print
            %option{:value => "icon-pushpin"} icon-pushpin
            %option{:value => "icon-qrcode"} icon-qrcode
            %option{:value => "icon-question-sign"} icon-question-sign
            %option{:value => "icon-quote-left"} icon-quote-left
            %option{:value => "icon-quote-right"} icon-quote-right
            %option{:value => "icon-random"} icon-random
            %option{:value => "icon-refresh"} icon-refresh
            %option{:value => "icon-remove"} icon-remove
            %option{:value => "icon-remove-circle"} icon-remove-circle
            %option{:value => "icon-remove-sign"} icon-remove-sign
            %option{:value => "icon-reorder"} icon-reorder
            %option{:value => "icon-reply"} icon-reply
            %option{:value => "icon-resize-horizontal"} icon-resize-horizontal
            %option{:value => "icon-resize-vertical"} icon-resize-vertical
            %option{:value => "icon-retweet"} icon-retweet
            %option{:value => "icon-road"} icon-road
            %option{:value => "icon-rss"} icon-rss
            %option{:value => "icon-screenshot"} icon-screenshot
            %option{:value => "icon-search"} icon-search
            %option{:value => "icon-share"} icon-share
            %option{:value => "icon-share-alt"} icon-share-alt
            %option{:value => "icon-shopping-cart"} icon-shopping-cart
            %option{:value => "icon-signal"} icon-signal
            %option{:value => "icon-signin"} icon-signin
            %option{:value => "icon-signout"} icon-signout
            %option{:value => "icon-sitemap"} icon-sitemap
            %option{:value => "icon-sort"} icon-sort
            %option{:value => "icon-sort-down"} icon-sort-down
            %option{:value => "icon-sort-up"} icon-sort-up
            %option{:value => "icon-spinner"} icon-spinner
            %option{:value => "icon-star"} icon-star
            %option{:value => "icon-star-empty"} icon-star-empty
            %option{:value => "icon-star-half"} icon-star-half
            %option{:value => "icon-tablet"} icon-tablet
            %option{:value => "icon-tag"} icon-tag
            %option{:value => "icon-tags"} icon-tags
            %option{:value => "icon-tasks"} icon-tasks
            %option{:value => "icon-thumbs-down"} icon-thumbs-down
            %option{:value => "icon-thumbs-up"} icon-thumbs-up
            %option{:value => "icon-time"} icon-time
            %option{:value => "icon-tint"} icon-tint
            %option{:value => "icon-trash"} icon-trash
            %option{:value => "icon-trophy"} icon-trophy
            %option{:value => "icon-truck"} icon-truck
            %option{:value => "icon-umbrella"} icon-umbrella
            %option{:value => "icon-upload"} icon-upload
            %option{:value => "icon-upload-alt"} icon-upload-alt
            %option{:value => "icon-user"} icon-user
            %option{:value => "icon-user-md"} icon-user-md
            %option{:value => "icon-volume-off"} icon-volume-off
            %option{:value => "icon-volume-down"} icon-volume-down
            %option{:value => "icon-volume-up"} icon-volume-up
            %option{:value => "icon-warning-sign"} icon-warning-sign
            %option{:value => "icon-wrench"} icon-wrench
            %option{:value => "icon-zoom-in"} icon-zoom-in
            %option{:value => "icon-zoom-out"} icon-zoom-out
            %option{:value => "icon-file"} icon-file
            %option{:value => "icon-file-alt"} icon-file-alt
            %option{:value => "icon-cut"} icon-cut
            %option{:value => "icon-copy"} icon-copy
            %option{:value => "icon-paste"} icon-paste
            %option{:value => "icon-save"} icon-save
            %option{:value => "icon-undo"} icon-undo
            %option{:value => "icon-repeat"} icon-repeat
            %option{:value => "icon-text-height"} icon-text-height
            %option{:value => "icon-text-width"} icon-text-width
            %option{:value => "icon-align-left"} icon-align-left
            %option{:value => "icon-align-center"} icon-align-center
            %option{:value => "icon-align-right"} icon-align-right
            %option{:value => "icon-align-justify"} icon-align-justify
            %option{:value => "icon-indent-left"} icon-indent-left
            %option{:value => "icon-indent-right"} icon-indent-right
            %option{:value => "icon-font"} icon-font
            %option{:value => "icon-bold"} icon-bold
            %option{:value => "icon-italic"} icon-italic
            %option{:value => "icon-strikethrough"} icon-strikethrough
            %option{:value => "icon-underline"} icon-underline
            %option{:value => "icon-link"} icon-link
            %option{:value => "icon-paper-clip"} icon-paper-clip
            %option{:value => "icon-columns"} icon-columns
            %option{:value => "icon-table"} icon-table
            %option{:value => "icon-th-large"} icon-th-large
            %option{:value => "icon-th"} icon-th
            %option{:value => "icon-th-list"} icon-th-list
            %option{:value => "icon-list"} icon-list
            %option{:value => "icon-list-ol"} icon-list-ol
            %option{:value => "icon-list-ul"} icon-list-ul
            %option{:value => "icon-list-alt"} icon-list-alt
            %option{:value => "icon-angle-left"} icon-angle-left
            %option{:value => "icon-angle-right"} icon-angle-right
            %option{:value => "icon-angle-up"} icon-angle-up
            %option{:value => "icon-angle-down"} icon-angle-down
            %option{:value => "icon-arrow-down"} icon-arrow-down
            %option{:value => "icon-arrow-left"} icon-arrow-left
            %option{:value => "icon-arrow-right"} icon-arrow-right
            %option{:value => "icon-arrow-up"} icon-arrow-up
            %option{:value => "icon-caret-down"} icon-caret-down
            %option{:value => "icon-caret-left"} icon-caret-left
            %option{:value => "icon-caret-right"} icon-caret-right
            %option{:value => "icon-caret-up"} icon-caret-up
            %option{:value => "icon-chevron-down"} icon-chevron-down
            %option{:value => "icon-chevron-left"} icon-chevron-left
            %option{:value => "icon-chevron-right"} icon-chevron-right
            %option{:value => "icon-chevron-up"} icon-chevron-up
            %option{:value => "icon-circle-arrow-down"} icon-circle-arrow-down
            %option{:value => "icon-circle-arrow-left"} icon-circle-arrow-left
            %option{:value => "icon-circle-arrow-right"} icon-circle-arrow-right
            %option{:value => "icon-circle-arrow-up"} icon-circle-arrow-up
            %option{:value => "icon-double-angle-left"} icon-double-angle-left
            %option{:value => "icon-double-angle-right"} icon-double-angle-right
            %option{:value => "icon-double-angle-up"} icon-double-angle-up
            %option{:value => "icon-double-angle-down"} icon-double-angle-down
            %option{:value => "icon-hand-down"} icon-hand-down
            %option{:value => "icon-hand-left"} icon-hand-left
            %option{:value => "icon-hand-right"} icon-hand-right
            %option{:value => "icon-hand-up"} icon-hand-up
            %option{:value => "icon-circle"} icon-circle
            %option{:value => "icon-circle-blank"} icon-circle-blank
            %option{:value => "icon-play-circle"} icon-play-circle
            %option{:value => "icon-play"} icon-play
            %option{:value => "icon-pause"} icon-pause
            %option{:value => "icon-stop"} icon-stop
            %option{:value => "icon-step-backward"} icon-step-backward
            %option{:value => "icon-fast-backward"} icon-fast-backward
            %option{:value => "icon-backward"} icon-backward
            %option{:value => "icon-forward"} icon-forward
            %option{:value => "icon-fast-forward"} icon-fast-forward
            %option{:value => "icon-step-forward"} icon-step-forward
            %option{:value => "icon-eject"} icon-eject
            %option{:value => "icon-fullscreen"} icon-fullscreen
            %option{:value => "icon-resize-full"} icon-resize-full
            %option{:value => "icon-resize-small"} icon-resize-small
            %option{:value => "icon-phone"} icon-phone
            %option{:value => "icon-phone-sign"} icon-phone-sign
            %option{:value => "icon-facebook"} icon-facebook
            %option{:value => "icon-facebook-sign"} icon-facebook-sign
            %option{:value => "icon-twitter"} icon-twitter
            %option{:value => "icon-twitter-sign"} icon-twitter-sign
            %option{:value => "icon-github"} icon-github
            %option{:value => "icon-github-alt"} icon-github-alt
            %option{:value => "icon-github-sign"} icon-github-sign
            %option{:value => "icon-linkedin"} icon-linkedin
            %option{:value => "icon-linkedin-sign"} icon-linkedin-sign
            %option{:value => "icon-pinterest"} icon-pinterest
            %option{:value => "icon-pinterest-sign"} icon-pinterest-sign
            %option{:value => "icon-google-plus"} icon-google-plus
            %option{:value => "icon-google-plus-sign"} icon-google-plus-sign
            %option{:value => "icon-sign-blank"} icon-sign-blank
            %option{:value => "icon-ambulance"} icon-ambulance
            %option{:value => "icon-beaker"} icon-beaker
            %option{:value => "icon-h-sign"} icon-h-sign
            %option{:value => "icon-hospital"} icon-hospital
            %option{:value => "icon-medkit"} icon-medkit
            %option{:value => "icon-plus-sign-alt"} icon-plus-sign-alt
            %option{:value => "icon-stethoscope"} icon-stethoscope
            %option{:value => "icon-user-md"} icon-user-md
      .control-group
        %label.control-label{:for => "task-name"} Task
        .controls
          %input{:name => "task-name", :type => "text"}/
      .control-group
        %label.control-label{:for => "tasktitel"}
        .controls
          %label.checkbox
            %input{:name => "task-bookmarked", :type => "checkbox", :value => "yep"}/
            Mark as important
    .modal-footer
      %input.btn.btn-primary{:type => "submit", :value => "Add task"}/