<!doctype html>
%html
  %head
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    / Apple devices fullscreen
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    / Apple devices fullscreen
    %meta{:content => "black-translucent", :names => "apple-mobile-web-app-status-bar-style"}/
    %title FLAT - Dashboard
    /[if lte IE 9]
      <script src="js/plugins/placeholder/jquery.placeholder.min.js"></script>
      <script>
      $(document).ready(function() {
      $('input, textarea').placeholder();
      });
      </script>
    / Favicon
    %link{:href => "/assets/flat/favicon.ico", :rel => "shortcut icon"}/
    / Apple devices Homescreen icon
    %link{:href => "/assets/flat/apple-touch-icon-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
  %body
    #new-task.modal.hide{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel Add new task
      %form.new-task-form.form-horizontal.form-bordered{:action => "#"}
        .modal-body.nopadding
          .control-group
            %label.control-label{:for => "tasktitel"} Icon
            .controls
              %select#icons.select2-me.input-xlarge{:name => "icons"}
                %option{:value => "icon-adjust"} icon-adjust
                %option{:value => "icon-asterisk"} icon-asterisk
                %option{:value => "icon-ban-circle"} icon-ban-circle
                %option{:value => "icon-bar-chart"} icon-bar-chart
                %option{:value => "icon-barcode"} icon-barcode
                %option{:value => "icon-beaker"} icon-beaker
                %option{:value => "icon-beer"} icon-beer
                %option{:value => "icon-bell"} icon-bell
                %option{:value => "icon-bell-alt"} icon-bell-alt
                %option{:value => "icon-bolt"} icon-bolt
                %option{:value => "icon-book"} icon-book
                %option{:value => "icon-bookmark"} icon-bookmark
                %option{:value => "icon-bookmark-empty"} icon-bookmark-empty
                %option{:value => "icon-briefcase"} icon-briefcase
                %option{:value => "icon-bullhorn"} icon-bullhorn
                %option{:value => "icon-calendar"} icon-calendar
                %option{:value => "icon-camera"} icon-camera
                %option{:value => "icon-camera-retro"} icon-camera-retro
                %option{:value => "icon-certificate"} icon-certificate
                %option{:value => "icon-check"} icon-check
                %option{:value => "icon-check-empty"} icon-check-empty
                %option{:value => "icon-circle"} icon-circle
                %option{:value => "icon-circle-blank"} icon-circle-blank
                %option{:value => "icon-cloud"} icon-cloud
                %option{:value => "icon-cloud-download"} icon-cloud-download
                %option{:value => "icon-cloud-upload"} icon-cloud-upload
                %option{:value => "icon-coffee"} icon-coffee
                %option{:value => "icon-cog"} icon-cog
                %option{:value => "icon-cogs"} icon-cogs
                %option{:value => "icon-comment"} icon-comment
                %option{:value => "icon-comment-alt"} icon-comment-alt
                %option{:value => "icon-comments"} icon-comments
                %option{:value => "icon-comments-alt"} icon-comments-alt
                %option{:value => "icon-credit-card"} icon-credit-card
                %option{:value => "icon-dashboard"} icon-dashboard
                %option{:value => "icon-desktop"} icon-desktop
                %option{:value => "icon-download"} icon-download
                %option{:value => "icon-download-alt"} icon-download-alt
                %option{:value => "icon-edit"} icon-edit
                %option{:value => "icon-envelope"} icon-envelope
                %option{:value => "icon-envelope-alt"} icon-envelope-alt
                %option{:value => "icon-exchange"} icon-exchange
                %option{:value => "icon-exclamation-sign"} icon-exclamation-sign
                %option{:value => "icon-external-link"} icon-external-link
                %option{:value => "icon-eye-close"} icon-eye-close
                %option{:value => "icon-eye-open"} icon-eye-open
                %option{:value => "icon-facetime-video"} icon-facetime-video
                %option{:value => "icon-fighter-jet"} icon-fighter-jet
                %option{:value => "icon-film"} icon-film
                %option{:value => "icon-filter"} icon-filter
                %option{:value => "icon-fire"} icon-fire
                %option{:value => "icon-flag"} icon-flag
                %option{:value => "icon-folder-close"} icon-folder-close
                %option{:value => "icon-folder-open"} icon-folder-open
                %option{:value => "icon-folder-close-alt"} icon-folder-close-alt
                %option{:value => "icon-folder-open-alt"} icon-folder-open-alt
                %option{:value => "icon-food"} icon-food
                %option{:value => "icon-gift"} icon-gift
                %option{:value => "icon-glass"} icon-glass
                %option{:value => "icon-globe"} icon-globe
                %option{:value => "icon-group"} icon-group
                %option{:value => "icon-hdd"} icon-hdd
                %option{:value => "icon-headphones"} icon-headphones
                %option{:value => "icon-heart"} icon-heart
                %option{:value => "icon-heart-empty"} icon-heart-empty
                %option{:value => "icon-home"} icon-home
                %option{:value => "icon-inbox"} icon-inbox
                %option{:value => "icon-info-sign"} icon-info-sign
                %option{:value => "icon-key"} icon-key
                %option{:value => "icon-leaf"} icon-leaf
                %option{:value => "icon-laptop"} icon-laptop
                %option{:value => "icon-legal"} icon-legal
                %option{:value => "icon-lemon"} icon-lemon
                %option{:value => "icon-lightbulb"} icon-lightbulb
                %option{:value => "icon-lock"} icon-lock
                %option{:value => "icon-unlock"} icon-unlock
                %option{:value => "icon-magic"} icon-magic
                %option{:value => "icon-magnet"} icon-magnet
                %option{:value => "icon-map-marker"} icon-map-marker
                %option{:value => "icon-minus"} icon-minus
                %option{:value => "icon-minus-sign"} icon-minus-sign
                %option{:value => "icon-mobile-phone"} icon-mobile-phone
                %option{:value => "icon-money"} icon-money
                %option{:value => "icon-move"} icon-move
                %option{:value => "icon-music"} icon-music
                %option{:value => "icon-off"} icon-off
                %option{:value => "icon-ok"} icon-ok
                %option{:value => "icon-ok-circle"} icon-ok-circle
                %option{:value => "icon-ok-sign"} icon-ok-sign
                %option{:value => "icon-pencil"} icon-pencil
                %option{:value => "icon-picture"} icon-picture
                %option{:value => "icon-plane"} icon-plane
                %option{:value => "icon-plus"} icon-plus
                %option{:value => "icon-plus-sign"} icon-plus-sign
                %option{:value => "icon-print"} icon-print
                %option{:value => "icon-pushpin"} icon-pushpin
                %option{:value => "icon-qrcode"} icon-qrcode
                %option{:value => "icon-question-sign"} icon-question-sign
                %option{:value => "icon-quote-left"} icon-quote-left
                %option{:value => "icon-quote-right"} icon-quote-right
                %option{:value => "icon-random"} icon-random
                %option{:value => "icon-refresh"} icon-refresh
                %option{:value => "icon-remove"} icon-remove
                %option{:value => "icon-remove-circle"} icon-remove-circle
                %option{:value => "icon-remove-sign"} icon-remove-sign
                %option{:value => "icon-reorder"} icon-reorder
                %option{:value => "icon-reply"} icon-reply
                %option{:value => "icon-resize-horizontal"} icon-resize-horizontal
                %option{:value => "icon-resize-vertical"} icon-resize-vertical
                %option{:value => "icon-retweet"} icon-retweet
                %option{:value => "icon-road"} icon-road
                %option{:value => "icon-rss"} icon-rss
                %option{:value => "icon-screenshot"} icon-screenshot
                %option{:value => "icon-search"} icon-search
                %option{:value => "icon-share"} icon-share
                %option{:value => "icon-share-alt"} icon-share-alt
                %option{:value => "icon-shopping-cart"} icon-shopping-cart
                %option{:value => "icon-signal"} icon-signal
                %option{:value => "icon-signin"} icon-signin
                %option{:value => "icon-signout"} icon-signout
                %option{:value => "icon-sitemap"} icon-sitemap
                %option{:value => "icon-sort"} icon-sort
                %option{:value => "icon-sort-down"} icon-sort-down
                %option{:value => "icon-sort-up"} icon-sort-up
                %option{:value => "icon-spinner"} icon-spinner
                %option{:value => "icon-star"} icon-star
                %option{:value => "icon-star-empty"} icon-star-empty
                %option{:value => "icon-star-half"} icon-star-half
                %option{:value => "icon-tablet"} icon-tablet
                %option{:value => "icon-tag"} icon-tag
                %option{:value => "icon-tags"} icon-tags
                %option{:value => "icon-tasks"} icon-tasks
                %option{:value => "icon-thumbs-down"} icon-thumbs-down
                %option{:value => "icon-thumbs-up"} icon-thumbs-up
                %option{:value => "icon-time"} icon-time
                %option{:value => "icon-tint"} icon-tint
                %option{:value => "icon-trash"} icon-trash
                %option{:value => "icon-trophy"} icon-trophy
                %option{:value => "icon-truck"} icon-truck
                %option{:value => "icon-umbrella"} icon-umbrella
                %option{:value => "icon-upload"} icon-upload
                %option{:value => "icon-upload-alt"} icon-upload-alt
                %option{:value => "icon-user"} icon-user
                %option{:value => "icon-user-md"} icon-user-md
                %option{:value => "icon-volume-off"} icon-volume-off
                %option{:value => "icon-volume-down"} icon-volume-down
                %option{:value => "icon-volume-up"} icon-volume-up
                %option{:value => "icon-warning-sign"} icon-warning-sign
                %option{:value => "icon-wrench"} icon-wrench
                %option{:value => "icon-zoom-in"} icon-zoom-in
                %option{:value => "icon-zoom-out"} icon-zoom-out
                %option{:value => "icon-file"} icon-file
                %option{:value => "icon-file-alt"} icon-file-alt
                %option{:value => "icon-cut"} icon-cut
                %option{:value => "icon-copy"} icon-copy
                %option{:value => "icon-paste"} icon-paste
                %option{:value => "icon-save"} icon-save
                %option{:value => "icon-undo"} icon-undo
                %option{:value => "icon-repeat"} icon-repeat
                %option{:value => "icon-text-height"} icon-text-height
                %option{:value => "icon-text-width"} icon-text-width
                %option{:value => "icon-align-left"} icon-align-left
                %option{:value => "icon-align-center"} icon-align-center
                %option{:value => "icon-align-right"} icon-align-right
                %option{:value => "icon-align-justify"} icon-align-justify
                %option{:value => "icon-indent-left"} icon-indent-left
                %option{:value => "icon-indent-right"} icon-indent-right
                %option{:value => "icon-font"} icon-font
                %option{:value => "icon-bold"} icon-bold
                %option{:value => "icon-italic"} icon-italic
                %option{:value => "icon-strikethrough"} icon-strikethrough
                %option{:value => "icon-underline"} icon-underline
                %option{:value => "icon-link"} icon-link
                %option{:value => "icon-paper-clip"} icon-paper-clip
                %option{:value => "icon-columns"} icon-columns
                %option{:value => "icon-table"} icon-table
                %option{:value => "icon-th-large"} icon-th-large
                %option{:value => "icon-th"} icon-th
                %option{:value => "icon-th-list"} icon-th-list
                %option{:value => "icon-list"} icon-list
                %option{:value => "icon-list-ol"} icon-list-ol
                %option{:value => "icon-list-ul"} icon-list-ul
                %option{:value => "icon-list-alt"} icon-list-alt
                %option{:value => "icon-angle-left"} icon-angle-left
                %option{:value => "icon-angle-right"} icon-angle-right
                %option{:value => "icon-angle-up"} icon-angle-up
                %option{:value => "icon-angle-down"} icon-angle-down
                %option{:value => "icon-arrow-down"} icon-arrow-down
                %option{:value => "icon-arrow-left"} icon-arrow-left
                %option{:value => "icon-arrow-right"} icon-arrow-right
                %option{:value => "icon-arrow-up"} icon-arrow-up
                %option{:value => "icon-caret-down"} icon-caret-down
                %option{:value => "icon-caret-left"} icon-caret-left
                %option{:value => "icon-caret-right"} icon-caret-right
                %option{:value => "icon-caret-up"} icon-caret-up
                %option{:value => "icon-chevron-down"} icon-chevron-down
                %option{:value => "icon-chevron-left"} icon-chevron-left
                %option{:value => "icon-chevron-right"} icon-chevron-right
                %option{:value => "icon-chevron-up"} icon-chevron-up
                %option{:value => "icon-circle-arrow-down"} icon-circle-arrow-down
                %option{:value => "icon-circle-arrow-left"} icon-circle-arrow-left
                %option{:value => "icon-circle-arrow-right"} icon-circle-arrow-right
                %option{:value => "icon-circle-arrow-up"} icon-circle-arrow-up
                %option{:value => "icon-double-angle-left"} icon-double-angle-left
                %option{:value => "icon-double-angle-right"} icon-double-angle-right
                %option{:value => "icon-double-angle-up"} icon-double-angle-up
                %option{:value => "icon-double-angle-down"} icon-double-angle-down
                %option{:value => "icon-hand-down"} icon-hand-down
                %option{:value => "icon-hand-left"} icon-hand-left
                %option{:value => "icon-hand-right"} icon-hand-right
                %option{:value => "icon-hand-up"} icon-hand-up
                %option{:value => "icon-circle"} icon-circle
                %option{:value => "icon-circle-blank"} icon-circle-blank
                %option{:value => "icon-play-circle"} icon-play-circle
                %option{:value => "icon-play"} icon-play
                %option{:value => "icon-pause"} icon-pause
                %option{:value => "icon-stop"} icon-stop
                %option{:value => "icon-step-backward"} icon-step-backward
                %option{:value => "icon-fast-backward"} icon-fast-backward
                %option{:value => "icon-backward"} icon-backward
                %option{:value => "icon-forward"} icon-forward
                %option{:value => "icon-fast-forward"} icon-fast-forward
                %option{:value => "icon-step-forward"} icon-step-forward
                %option{:value => "icon-eject"} icon-eject
                %option{:value => "icon-fullscreen"} icon-fullscreen
                %option{:value => "icon-resize-full"} icon-resize-full
                %option{:value => "icon-resize-small"} icon-resize-small
                %option{:value => "icon-phone"} icon-phone
                %option{:value => "icon-phone-sign"} icon-phone-sign
                %option{:value => "icon-facebook"} icon-facebook
                %option{:value => "icon-facebook-sign"} icon-facebook-sign
                %option{:value => "icon-twitter"} icon-twitter
                %option{:value => "icon-twitter-sign"} icon-twitter-sign
                %option{:value => "icon-github"} icon-github
                %option{:value => "icon-github-alt"} icon-github-alt
                %option{:value => "icon-github-sign"} icon-github-sign
                %option{:value => "icon-linkedin"} icon-linkedin
                %option{:value => "icon-linkedin-sign"} icon-linkedin-sign
                %option{:value => "icon-pinterest"} icon-pinterest
                %option{:value => "icon-pinterest-sign"} icon-pinterest-sign
                %option{:value => "icon-google-plus"} icon-google-plus
                %option{:value => "icon-google-plus-sign"} icon-google-plus-sign
                %option{:value => "icon-sign-blank"} icon-sign-blank
                %option{:value => "icon-ambulance"} icon-ambulance
                %option{:value => "icon-beaker"} icon-beaker
                %option{:value => "icon-h-sign"} icon-h-sign
                %option{:value => "icon-hospital"} icon-hospital
                %option{:value => "icon-medkit"} icon-medkit
                %option{:value => "icon-plus-sign-alt"} icon-plus-sign-alt
                %option{:value => "icon-stethoscope"} icon-stethoscope
                %option{:value => "icon-user-md"} icon-user-md
          .control-group
            %label.control-label{:for => "task-name"} Task
            .controls
              %input{:name => "task-name", :type => "text"}/
          .control-group
            %label.control-label{:for => "tasktitel"}
            .controls
              %label.checkbox
                %input{:name => "task-bookmarked", :type => "checkbox", :value => "yep"}/
                Mark as important
        .modal-footer
          %input.btn.btn-primary{:type => "submit", :value => "Add task"}/
    #modal-user.modal.hide
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#user-infos Jane Doe
      .modal-body
        .row-fluid
          .span2
            %img{:alt => "", :src => "/assets/flat/demo/user-1.jpg"}/
          .span10
            %dl.dl-horizontal{:style => "margin-top:0;"}
              %dt Full name:
              %dd Jane Doe
              %dt Email:
              %dd jane.doe@janedoesemail.com
              %dt Address:
              %dd
                %address
                  %strong John Doe, Inc.
                  %br/
                  7195 JohnsonDoes Ave, Suite 320
                  %br/
                  San Francisco, CA 881234
                  %br/
                  %abbr{:title => "Phone"} P:
                  (123) 456-7890
              %dt Social:
              %dd
                %a.btn{:href => "#"}
                  %i.icon-facebook
                %a.btn{:href => "#"}
                  %i.icon-twitter
                %a.btn{:href => "#"}
                  %i.icon-linkedin
                %a.btn{:href => "#"}
                  %i.icon-envelope
                %a.btn{:href => "#"}
                  %i.icon-rss
                %a.btn{:href => "#"}
                  %i.icon-github
      .modal-footer
        %button.btn{"data-dismiss" => "modal"} Close
    #navigation
      .container-fluid
        %a#brand{:href => "#"} FLAT
        %a.toggle-nav{"data-placement" => "bottom", :href => "#", :rel => "tooltip", :title => "Toggle navigation"}
          %i.icon-reorder
        %ul.main-nav
          %li.active
            %a{:href => "index.html"}
              %span Dashboard
          %li
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span Forms
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "forms-basic.html"} Basic forms
              %li
                %a{:href => "forms-extended.html"} Extended forms
              %li
                %a{:href => "forms-validation.html"} Validation
              %li
                %a{:href => "forms-wizard.html"} Wizard
          %li
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span Components
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "components-timeline.html"} Timeline
              %li
                %a{:href => "components-pagestatistics.html"} Page statistics
              %li
                %a{:href => "components-sidebarwidgets.html"} Sidebar widgets
              %li
                %a{:href => "components-messages.html"} Messages & Chat
              %li
                %a{:href => "components-gallery.html"} Gallery & Thumbs
              %li
                %a{:href => "components-tiles.html"} Tiles
              %li
                %a{:href => "components-icons.html"} Icons & Buttons
              %li
                %a{:href => "components-elements.html"} UI elements
              %li
                %a{:href => "components-typography.html"} Typography
              %li
                %a{:href => "components-bootstrap.html"} Bootstrap elements
              %li
                %a{:href => "components-grid.html"} Grid
          %li
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span Tables
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "tables-basic.html"} Basic tables
              %li
                %a{:href => "tables-dynamic.html"} Dynamic tables
              %li
                %a{:href => "tables-large.html"} Large tables
          %li
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span Plugins
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "plugins-charts.html"} Charts
              %li
                %a{:href => "plugins-calendar.html"} Calendar
              %li
                %a{:href => "plugins-filemanager.html"} File manager
              %li
                %a{:href => "plugins-filetrees.html"} File trees
              %li
                %a{:href => "plugins-elements.html"} Editable elements
              %li
                %a{:href => "plugins-maps.html"} Maps
              %li
                %a{:href => "plugins-dragdrop.html"} Drag & Drop widgets
          %li
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span Pages
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "more-error.html"} Error pages
              %li.dropdown-submenu
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Shop
                %ul.dropdown-menu
                  %li
                    %a{:href => "more-shop-list.html"} List view
                  %li
                    %a{:href => "more-shop-product.html"} Product view
              %li
                %a{:href => "more-pricing.html"} Pricing tables
              %li
                %a{:href => "more-faq.html"} FAQ
              %li
                %a{:href => "more-invoice.html"} Invoice
              %li
                %a{:href => "more-userprofile.html"} User profile
              %li
                %a{:href => "more-searchresults.html"} Search results
              %li
                %a{:href => "more-login.html"} Login
              %li
                %a{:href => "more-locked.html"} Lock screen
              %li
                %a{:href => "more-email.html"} Email templates
              %li
                %a{:href => "more-blank.html"} Blank page
              %li.dropdown-submenu
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Another submenu
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} This is level 3
                  %li
                    %a{:href => "#"} Another page here
                  %li.dropdown-submenu
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Go to level 4
                    %ul.dropdown-menu
                      %li
                        %a{:href => "#"} This is level 4
                      %li
                        %a{:href => "#"} Unlimited levels
                      %li
                        %a{:href => "#"} Easy to use
          %li
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span Layouts
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "layouts-sidebar-hidden.html"} Default hidden sidebar
              %li
                %a{:href => "layouts-color.html"} Different default color
              %li
                %a{:href => "layouts-fixed.html"} Fixed layout
              %li
                %a{:href => "layouts-fixed-topside.html"} Fixed topbar and sidebar
              %li.dropdown-submenu
                %a{:href => "#"} Mobile sidebar
                %ul.dropdown-menu
                  %li
                    %a{:href => "layouts-mobile-slide.html"} Slide
                  %li
                    %a{:href => "layouts-mobile-button.html"} Button
              %li
                %a{:href => "layouts-footer.html"} Footer
        .user
          %ul.icon-nav
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.icon-envelope-alt
                %span.label.label-lightred 4
              %ul.dropdown-menu.pull-right.message-ul
                %li
                  %a{:href => "#"}
                    %img{:alt => "", :src => "/assets/flat/demo/user-1.jpg"}/
                  .details
                    .name Jane Doe
                    .message
                      Lorem ipsum Commodo quis nisi ...
                %li
                  %a{:href => "#"}
                    %img{:alt => "", :src => "/assets/flat/demo/user-2.jpg"}/
                  .details
                    .name John Doedoe
                    .message
                      Ut ad laboris est anim ut ...
                  .count
                    %i.icon-comment
                    %span 3
                %li
                  %a{:href => "#"}
                    %img{:alt => "", :src => "/assets/flat/demo/user-3.jpg"}/
                  .details
                    .name Bob Doe
                    .message
                      Excepteur Duis magna dolor!
                %li
                  %a.more-messages{:href => "components-messages.html"}
                    Go to Message center
                    %i.icon-arrow-right
            %li.dropdown.sett
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.icon-cog
              %ul.dropdown-menu.pull-right.theme-settings
                %li
                  %span Layout-width
                  .version-toggle
                    %a.set-fixed{:href => "#"} Fixed
                    %a.active.set-fluid{:href => "#"} Fluid
                %li
                  %span Topbar
                  .topbar-toggle
                    %a.set-topbar-fixed{:href => "#"} Fixed
                    %a.active.set-topbar-default{:href => "#"} Default
                %li
                  %span Sidebar
                  .sidebar-toggle
                    %a.set-sidebar-fixed{:href => "#"} Fixed
                    %a.active.set-sidebar-default{:href => "#"} Default
            %li.dropdown.colo
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.icon-tint
              %ul.dropdown-menu.pull-right.theme-colors
                %li.subtitle
                  Predefined colors
                %li
                  %span.red
                  %span.orange
                  %span.green
                  %span.brown
                  %span.blue
                  %span.lime
                  %span.teal
                  %span.purple
                  %span.pink
                  %span.magenta
                  %span.grey
                  %span.darkblue
                  %span.lightred
                  %span.lightgrey
                  %span.satblue
                  %span.satgreen
            %li
              %a.lock-screen{"data-placement" => "bottom", :href => "more-locked.html", :rel => "tooltip", :title => "Lock screen"}
                %i.icon-lock
          .dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              John Doe
              %img{:alt => "", :src => "/assets/flat/demo/user-avatar.jpg"}/
            %ul.dropdown-menu.pull-right
              %li
                %a{:href => "more-userprofile.html"} Edit profile
              %li
                %a{:href => "#"} Account settings
              %li
                %a{:href => "more-login.html"} Sign out
    #content.container-fluid
      #left
        %form.search-form{:action => "search-results.html", :method => "GET"}
          .search-pane
            %input{:name => "search", :placeholder => "Search here...", :type => "text"}/
            %button{:type => "submit"}
              %i.icon-search
        .subnav
          .subnav-title
            %a.toggle-subnav{:href => "#"}
              %i.icon-angle-down
              %span Content
          %ul.subnav-menu
            %li.dropdown
              %a{"data-toggle" => "dropdown", :href => "#"} Articles
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action #1
                %li
                  %a{:href => "#"} Antoher Link
                %li.dropdown-submenu
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Go to level 3
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} This is level 3
                    %li
                      %a{:href => "#"} Unlimited levels
                    %li
                      %a{:href => "#"} Easy to use
            %li
              %a{:href => "#"} News
            %li
              %a{:href => "#"} Pages
            %li
              %a{:href => "#"} Comments
        .subnav
          .subnav-title
            %a.toggle-subnav{:href => "#"}
              %i.icon-angle-down
              %span Plugins
          %ul.subnav-menu
            %li
              %a{:href => "#"} Cache manager
            %li.dropdown
              %a{"data-toggle" => "dropdown", :href => "#"} Import manager
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action #1
                %li
                  %a{:href => "#"} Antoher Link
                %li.dropdown-submenu
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Go to level 3
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} This is level 3
                    %li
                      %a{:href => "#"} Unlimited levels
                    %li
                      %a{:href => "#"} Easy to use
            %li
              %a{:href => "#"} Contact form generator
            %li
              %a{:href => "#"} SEO optimization
        .subnav
          .subnav-title
            %a.toggle-subnav{:href => "#"}
              %i.icon-angle-down
              %span Settings
          %ul.subnav-menu
            %li
              %a{:href => "#"} Theme settings
            %li.dropdown
              %a{"data-toggle" => "dropdown", :href => "#"} Page settings
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action #1
                %li
                  %a{:href => "#"} Antoher Link
                %li.dropdown-submenu
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Go to level 3
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} This is level 3
                    %li
                      %a{:href => "#"} Unlimited levels
                    %li
                      %a{:href => "#"} Easy to use
            %li
              %a{:href => "#"} Security settings
        .subnav.subnav-hidden
          .subnav-title
            %a.toggle-subnav{:href => "#"}
              %i.icon-angle-right
              %span Default hidden
          %ul.subnav-menu
            %li
              %a{:href => "#"} Menu
            %li.dropdown
              %a{"data-toggle" => "dropdown", :href => "#"} With submenu
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action #1
                %li
                  %a{:href => "#"} Antoher Link
                %li.dropdown-submenu
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} More stuff
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} This is level 3
                    %li
                      %a{:href => "#"} Easy to use
            %li
              %a{:href => "#"} Security settings
      #main
        .container-fluid
          .page-header
            .pull-left
              %h1 Dashboard
            .pull-right
              %ul.minitiles
                %li.grey
                  %a{:href => "#"}
                    %i.icon-cogs
                %li.lightgrey
                  %a{:href => "#"}
                    %i.icon-globe
              %ul.stats
                %li.satgreen
                  %i.icon-money
                  .details
                    %span.big $324,12
                    %span Balance
                %li.lightred
                  %i.icon-calendar
                  .details
                    %span.big February 22, 2013
                    %span Wednesday, 13:56
          .breadcrumbs
            %ul
              %li
                %a{:href => "more-login.html"} Home
                %i.icon-angle-right
              %li
                %a{:href => "index.html"} Dashboard
            .close-bread
              %a{:href => "#"}
                %i.icon-remove
          .row-fluid
            .span6
              .box.box-color.box-bordered
                .box-title
                  %h3
                    %i.icon-bar-chart
                    Audience Overview
                  .actions
                    %a.btn.btn-mini.content-refresh{:href => "#"}
                      %i.icon-refresh
                    %a.btn.btn-mini.content-remove{:href => "#"}
                      %i.icon-remove
                    %a.btn.btn-mini.content-slideUp{:href => "#"}
                      %i.icon-angle-down
                .box-content
                  .statistic-big
                    .top
                      .left
                        .input-medium
                          %select.chosen-select{"data-nosearch" => "true", :name => "category"}
                            %option{:value => "1"} Visits
                            %option{:value => "2"} New Visits
                            %option{:value => "3"} Unique Visits
                            %option{:value => "4"} Pageviews
                      .right
                        8,195
                        %span
                          %i.icon-circle-arrow-up
                    .bottom
                      #flot-audience.flot.medium
                    .bottom
                      %ul.stats-overview
                        %li
                          %span.name
                            Visits
                          %span.value
                            11,251
                        %li
                          %span.name
                            Pages / Visit
                          %span.value
                            8.31
                        %li
                          %span.name
                            Avg. Duration
                          %span.value
                            00:06:41
                        %li
                          %span.name
                            \% New Visits
                          %span.value
                            67,35%
            .span6
              .box.box-color.lightred.box-bordered
                .box-title
                  %h3
                    %i.icon-bar-chart
                    HDD usage
                  .actions
                    %a.btn.btn-mini.content-refresh{:href => "#"}
                      %i.icon-refresh
                    %a.btn.btn-mini.content-remove{:href => "#"}
                      %i.icon-remove
                    %a.btn.btn-mini.content-slideUp{:href => "#"}
                      %i.icon-angle-down
                .box-content
                  .statistic-big
                    .top
                      .left
                        .input-medium
                          %select.chosen-select{"data-nosearch" => "true", :name => "category"}
                            %option{:value => "1"} Today
                            %option{:value => "2"} Yesterday
                            %option{:value => "3"} Last week
                            %option{:value => "4"} Last month
                      .right
                        50%
                        %span
                          %i.icon-circle-arrow-right
                    .bottom
                      #flot-hdd.flot.medium
                    .bottom
                      %ul.stats-overview
                        %li
                          %span.name
                            Usage
                          %span.value
                            50%
                        %li
                          %span.name
                            Usage % / User
                          %span.value
                            0.031
                        %li
                          %span.name
                            Avg. Usage %
                          %span.value
                            60%
                        %li
                          %span.name
                            Idle Usage %
                          %span.value
                            12%
          .row-fluid
            .span12
              .box.box-color.box-bordered.lightgrey
                .box-title
                  %h3
                    %i.icon-ok
                    Tasks
                  .actions
                    %a.btn{"data-toggle" => "modal", :href => "#new-task"}
                      %i.icon-plus-sign
                      Add Task
                .box-content.nopadding
                  %ul.tasklist
                    %li.bookmarked
                      .check
                        %input.icheck-me{"data-color" => "blue", "data-skin" => "square", :type => "checkbox"}/
                      %span.task
                        %i.icon-ok
                        %span Approve new users
                      %span.task-actions
                        %a.task-delete{:href => "#", :rel => "tooltip", :title => "Delete that task"}
                          %i.icon-remove
                        %a.task-bookmark{:href => "#", :rel => "tooltip", :title => "Mark as important"}
                          %i.icon-bookmark-empty
                    %li
                      .check
                        %input.icheck-me{"data-color" => "blue", "data-skin" => "square", :type => "checkbox"}/
                      %span.task
                        %i.icon-bar-chart
                        %span Check statistics
                      %span.task-actions
                        %a.task-delete{:href => "#", :rel => "tooltip", :title => "Delete that task"}
                          %i.icon-remove
                        %a.task-bookmark{:href => "#", :rel => "tooltip", :title => "Mark as important"}
                          %i.icon-bookmark-empty
                    %li.done
                      .check
                        %input.icheck-me{:checked => "", "data-color" => "blue", "data-skin" => "square", :type => "checkbox"}/
                      %span.task
                        %i.icon-envelope
                        %span Check for new mails
                      %span.task-actions
                        %a.task-delete{:href => "#", :rel => "tooltip", :title => "Delete that task"}
                          %i.icon-remove
                        %a.task-bookmark{:href => "#", :rel => "tooltip", :title => "Mark as important"}
                          %i.icon-bookmark-empty
                    %li
                      .check
                        %input.icheck-me{"data-color" => "blue", "data-skin" => "square", :type => "checkbox"}/
                      %span.task
                        %i.icon-comment
                        %span Chat with John Doe
                      %span.task-actions
                        %a.task-delete{:href => "#", :rel => "tooltip", :title => "Delete that task"}
                          %i.icon-remove
                        %a.task-bookmark{:href => "#", :rel => "tooltip", :title => "Mark as important"}
                          %i.icon-bookmark-empty
                    %li
                      .check
                        %input.icheck-me{"data-color" => "blue", "data-skin" => "square", :type => "checkbox"}/
                      %span.task
                        %i.icon-retweet
                        %span Go and tweet some stuff
                      %span.task-actions
                        %a.task-delete{:href => "#", :rel => "tooltip", :title => "Delete that task"}
                          %i.icon-remove
                        %a.task-bookmark{:href => "#", :rel => "tooltip", :title => "Mark as important"}
                          %i.icon-bookmark-empty
                    %li
                      .check
                        %input.icheck-me{"data-color" => "blue", "data-skin" => "square", :type => "checkbox"}/
                      %span.task
                        %i.icon-edit
                        %span Write an article
                      %span.task-actions
                        %a.task-delete{:href => "#", :rel => "tooltip", :title => "Delete that task"}
                          %i.icon-remove
                        %a.task-bookmark{:href => "#", :rel => "tooltip", :title => "Mark as important"}
                          %i.icon-bookmark-empty
          .row-fluid
            .span6
              .box
                .box-title
                  %h3
                    %i.icon-bolt>
                    Server load
                  .actions
                    %a.btn.btn-mini.content-refresh{:href => "#"}
                      %i.icon-refresh
                    %a.btn.btn-mini.content-remove{:href => "#"}
                      %i.icon-remove
                    %a.btn.btn-mini.content-slideUp{:href => "#"}
                      %i.icon-angle-down
                .box-content
                  .flot.flot-line
            .span6
              .box
                .box-title
                  %h3
                    %i.icon-comment>
                    Chat
                  .actions
                    %a.btn.btn-mini.content-refresh{:href => "#"}
                      %i.icon-refresh
                    %a.btn.btn-mini.content-remove{:href => "#"}
                      %i.icon-remove
                    %a.btn.btn-mini.content-slideUp{:href => "#"}
                      %i.icon-angle-down
                .box-content.nopadding.scrollable{"data-height" => "350", "data-start" => "bottom", "data-visible" => "true"}
                  %ul.messages
                    %li.left
                      .image
                        %img{:alt => "", :src => "/assets/flat/demo/user-1.jpg"}/
                      .message
                        %span.caret
                        %span.name Jane Doe
                        %p Lorem ipsum aute ut ullamco et nisi ad.
                        %span.time
                          12 minutes ago
                    %li.right
                      .image
                        %img{:alt => "", :src => "/assets/flat/demo/user-2.jpg"}/
                      .message
                        %span.caret
                        %span.name John Doe
                        %p Lorem ipsum aute ut ullamco et nisi ad. Lorem ipsum adipisicing nisi Excepteur eiusmod ex culpa laboris. Lorem ipsum est ut...
                        %span.time
                          12 minutes ago
                    %li.left
                      .image
                        %img{:alt => "", :src => "/assets/flat/demo/user-1.jpg"}/
                      .message
                        %span.caret
                        %span.name Jane Doe
                        %p Lorem ipsum aute ut ullamco et nisi ad. Lorem ipsum adipisicing nisi!
                        %span.time
                          12 minutes ago
                    %li.typing
                      %span.name John Doe
                      is typing
                      %img{:alt => "", :src => "/assets/flat/loading.gif"}/
                    %li.insert
                      %form#message-form{:action => "#", :method => "POST"}
                        .text
                          %input.input-block-level{:name => "text", :placeholder => "Write here...", :type => "text"}/
                        .submit
                          %button{:type => "submit"}
                            %i.icon-share-alt
          .row-fluid
            .span6
              .box
                .box-title
                  %h3
                    %i.icon-globe>
                    User regions
                  .actions
                    %a.btn.btn-mini.content-refresh{:href => "#"}
                      %i.icon-refresh
                    %a.btn.btn-mini.content-remove{:href => "#"}
                      %i.icon-remove
                    %a.btn.btn-mini.content-slideUp{:href => "#"}
                      %i.icon-angle-down
                .box-content
                  #vmap
            .span6
              .box.box-color.box-bordered
                .box-title
                  %h3
                    %i.icon-user>
                    Address Book
                  .actions
                    %a.btn.btn-mini.content-refresh{:href => "#"}
                      %i.icon-refresh
                    %a.btn.btn-mini.content-remove{:href => "#"}
                      %i.icon-remove
                    %a.btn.btn-mini.content-slideUp{:href => "#"}
                      %i.icon-angle-down
                .box-content.nopadding.scrollable{"data-height" => "300", "data-visible" => "true"}
                  %table.table.table-user.table-nohead
                    %tbody
                      %tr.alpha
                        %td.alpha-val
                          %span B
                        %td{:colspan => "2"}
                      %tr
                        %td.img
                          %img{:alt => "", :src => "/assets/flat/demo/user-1.jpg"}/
                        %td.user Bi Doe
                        %td.icon
                          %a.btn{:href => "#"}
                            %i.icon-search
                      %tr
                        %td.img
                          %img{:alt => "", :src => "/assets/flat/demo/user-2.jpg"}/
                        %td.user Boo Doe
                        %td.icon
                          %a.btn{:href => "#"}
                            %i.icon-search
                      %tr.alpha
                        %td.alpha-val
                          %span D
                        %td{:colspan => "3"}
                      %tr
                        %td.img
                          %img{:alt => "", :src => "/assets/flat/demo/user-3.jpg"}/
                        %td.user Dan Doe
                        %td.icon
                          %a.btn{:href => "#"}
                            %i.icon-search
                      %tr
                        %td.img
                          %img{:alt => "", :src => "/assets/flat/demo/user-4.jpg"}/
                        %td.user Dane Doe
                        %td.icon
                          %a.btn{:href => "#"}
                            %i.icon-search
                      %tr.alpha
                        %td.alpha-val
                          %span H
                        %td{:colspan => "3"}
                      %tr
                        %td.img
                          %img{:alt => "", :src => "/assets/flat/demo/user-3.jpg"}/
                        %td.user Hilda N. Ervin
                        %td.icon
                          %a.btn{:href => "#"}
                            %i.icon-search
                      %tr.alpha
                        %td.alpha-val
                          %span J
                        %td{:colspan => "3"}
                      %tr
                        %td.img
                          %img{:alt => "", :src => "/assets/flat/demo/user-5.jpg"}/
                        %td.user John Doe
                        %td.icon
                          %a.btn{:href => "#"}
                            %i.icon-search
                      %tr
                        %td.img
                          %img{:alt => "", :src => "/assets/flat/demo/user-6.jpg"}/
                        %td.user John Doe
                        %td.icon
                          %a.btn{:href => "#"}
                            %i.icon-search
                      %tr.alpha
                        %td.alpha-val
                          %span L
                        %td{:colspan => "3"}
                      %tr
                        %td.img
                          %img{:alt => "", :src => "/assets/flat/demo/user-5.jpg"}/
                        %td.user Laura J. Brown
                        %td.icon
                          %a.btn{:href => "#"}
                            %i.icon-search
                      %tr
                        %td.img
                          %img{:alt => "", :src => "/assets/flat/demo/user-6.jpg"}/
                        %td.user Lilly J. Tooley
                        %td.icon
                          %a.btn{:href => "#"}
                            %i.icon-search
                      %tr.alpha
                        %td.alpha-val
                          %span M
                        %td{:colspan => "3"}
                      %tr
                        %td.img
                          %img{:alt => "", :src => "/assets/flat/demo/user-1.jpg"}/
                        %td.user Maxi Doe
                        %td.icon
                          %a.btn{:href => "#"}
                            %i.icon-search
                      %tr
                        %td.img
                          %img{:alt => "", :src => "/assets/flat/demo/user-2.jpg"}/
                        %td.user Max Doe
                        %td.icon
                          %a.btn{:href => "#"}
                            %i.icon-search
                      %tr.alpha
                        %td.alpha-val
                          %span O
                        %td{:colspan => "3"}
                      %tr
                        %td.img
                          %img{:alt => "", :src => "/assets/flat/demo/user-1.jpg"}/
                        %td.user Oxx Doe
                        %td.icon
                          %a.btn{:href => "#"}
                            %i.icon-search
                      %tr
                        %td.img
                          %img{:alt => "", :src => "/assets/flat/demo/user-2.jpg"}/
                        %td.user Osam Doe
                        %td.icon
                          %a.btn{:href => "#"}
                            %i.icon-search
                      %tr.alpha
                        %td.alpha-val
                          %span P
                        %td{:colspan => "3"}
                      %tr
                        %td.img
                          %img{:alt => "", :src => "/assets/flat/demo/user-1.jpg"}/
                        %td.user Petra Doe
                        %td.icon
                          %a.btn{:href => "#"}
                            %i.icon-search
                      %tr
                        %td.img
                          %img{:alt => "", :src => "/assets/flat/demo/user-2.jpg"}/
                        %td.user Per Doe
                        %td.icon
                          %a.btn{:href => "#"}
                            %i.icon-search
          .row-fluid
            .span6
              .box
                .box-title
                  %h3
                    %i.icon-calendar>
                    My calendar
                .box-content.nopadding
                  .calendar
            .span6
              .box.box-color.box-bordered.green
                .box-title
                  %h3
                    %i.icon-bullhorn>
                    Feeds
                  .actions
                    %a.btn.btn-mini.custom-checkbox.checkbox-active{:href => "#"}
                      Automatic refresh
                      %i.icon-check-empty
                .box-content.nopadding.scrollable{"data-height" => "400", "data-visible" => "true"}
                  %table#randomFeed.table.table-nohead
                    %tbody
                      %tr
                        %td
                          %span.label
                            %i.icon-plus
                          %a{:href => "#"} John Doe
                          added a new photo
                      %tr
                        %td
                          %span.label.label-success
                            %i.icon-user
                          New user registered
                      %tr
                        %td
                          %span.label.label-info
                            %i.icon-shopping-cart
                          New order received
                      %tr
                        %td
                          %span.label.label-warning
                            %i.icon-comment
                          %a{:href => "#"} John Doe
                          commented on
                          %a{:href => "#"} News #123
                      %tr
                        %td
                          %span.label.label-success
                            %i.icon-user
                          New user registered
                      %tr
                        %td
                          %span.label.label-info
                            %i.icon-shopping-cart
                          New order received
                      %tr
                        %td
                          %span.label.label-warning
                            %i.icon-comment
                          %a{:href => "#"} John Doe
                          commented on
                          %a{:href => "#"} News #123